web-header-nav::part(wrapper) {
    display: flex;
    max-width: var(--layout-width);
    width: 100%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

web-header-nav::part(home) {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
}

web-header-nav::part(home):hover {
    background-color: var(--secondary-color);
}

web-header-nav [slot="search"] {
    position: relative;
    width: 100%;
}

web-header-nav input[type="search"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: white;
    background-image: url('search.svg');
    background-position: 12px 12px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-weight: 300;
    font-family: var(--font-family);
    color: var(--primary-color);
    border-radius: var(--border-radius);
}

web-header-nav .posts {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 5px rgb(200 200 200);
    background-color: white;
    padding: 16px;
    border-radius: var(--border-radius);
    margin: 4px 0 0;
    width: calc(100vw - 32px);
    max-width: var(--layout-width);
}

web-header-nav .posts:empty {
    display: none;
}

web-header-nav .post {
    border-bottom: 1px solid var(--secondary-color);
    padding-block: 8px;
}

web-header-nav .post:first-child {
    padding-top: 0;
}

web-header-nav .post:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

web-header-nav .post a {
    display: flex;
    gap: 16px;
    text-decoration: none;
    align-items: center;
}

web-header-nav .post .thumbnail {
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    display: flex;
}

web-header-nav .post img {
    height: 100%;
    object-fit: cover;
    background-color: var(--secondary-color);
}

web-header-nav .post h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

@media (width < 768px) {
    web-header-nav::part(wrapper) {
        padding: 0;
    }
}

@media (width < 648px) {
    web-header-nav .social {
        display: none;
    }
}
